<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>vcrc</display-name>
	<welcome-file-list>
		<welcome-file>guide.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>RecommendationService</servlet-name>
		<servlet-class>com.demo.service.RecommendationService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServerService</servlet-name>
		<servlet-class>com.demo.service.ServerService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MonitorService</servlet-name>
		<servlet-class>com.demo.monitor.MonitorService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChannelMapService</servlet-name>
		<servlet-class>com.demo.service.ChannelMapService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RecommendationServiceVOD</servlet-name>
		<servlet-class>com.demo.serviceVR.RecommendationServiceVOD</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServerServiceVOD</servlet-name>
		<servlet-class>com.demo.serviceVR.ServerServiceVOD</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecommendationService</servlet-name>
		<url-pattern>/RecommendationService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServerService</servlet-name>
		<url-pattern>/ServerService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MonitorService</servlet-name>
		<url-pattern>/MonitorService</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>ChannelMapService</servlet-name>
		<url-pattern>/ChannelMapService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecommendationServiceVOD</servlet-name>
		<url-pattern>/RecommendationServiceVOD</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServerServiceVOD</servlet-name>
		<url-pattern>/ServerServiceVOD</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>log4j-config-location</param-name>
		<param-value>WEB-INF/log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>quartz:shutdown-on-unload</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>quartz:wait-on-shutdown</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>quartz:start-on-load</param-name>
		<param-value>true</param-value>
	</context-param>
	<listener>
		<listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.Scheduler.QuartzJobListener</listener-class>
	</listener>
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.demo.util.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>